@media only screen and (max-width: 992px) {
    #menu_toggler {
        display: block;
    }

    .menu {
        display: none;
    }

    .banner_text h1 {
        font-size: 44px;
        line-height: 62px;
        margin: 20px 0;
    }

    #banner {
        min-height: calc(100vh - 515px);
        background-size: cover;
        background-position: left bottom;
    }

    .company_img {
        flex-wrap: wrap;
    }

    .company_img img {
        padding: 30px 0;
    }

    .inner_features {
        background-image: none;
        padding: 0 15px;

    }

    .feature_main_div {
        margin: auto;
    }

    #integration {
        background-position: left bottom;
        min-height: 450px;
        min-width: 10px;
        margin-top: 116px;
    }

    .integration_field {
        padding-top: 50px;
    }

    .integration_field {
        margin-right: 0;
    }

    .service-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    #planning {
        background-image: none;
    }

    .inner_planning {
        padding: 0 88px;
    }

    #client {
        background-image: none
    }

    .client_parent {
        margin: auto;
    }

    .download_title h1 {
        font-size: 35px;
        max-width: 441px;
    }

    .download_title p {
        font-size: 14px;
        line-height: 25px;
        padding: 24px 0;
        max-width: 470px;
    }

    /* #footer {
        height: 445px;
    } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    #banner {
        background-size: cover;
        background-position: left bottom;
        margin: 50px 0;
    }

    .inner_banner {
        flex-direction: column;
    }

    .banner_text {
        order: 2;
        width: 100%;
        padding: 0 15px;
    }

    .banner_img {
        width: 100%;
        margin-bottom: 25px;
        text-align: center;
    }

    .company_img img {
        padding: 30px 0;
    }

    #integration {
        background-image: none;
    }

    .inner_integration {
        margin-top: -118px;
    }

    .integration_field {
        margin: auto;
    }

    .title_one h1 {
        font-size: 34px;
        line-height: 48px;
    }

    .title_two h6 {
        font-size: 15px;
        line-height: 24px;
        padding-left: 24px;
    }

    .inner_app_development {
        margin-top: 118px;
    }

    .service-card {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    #planning {
        background-image: none;
    }

    #download {
        background-image: linear-gradient(50deg, rgba(127, 181, 252, 0.315), rgba(151, 242, 245, 0.322)), url('./image/download.png');

    }
}

@media only screen and (max-width: 570px) {
    .banner_text h6 {
        max-width: 362px;
    }

    .banner_text h1 {
        font-size: 36px;
        line-height: 53px;
        margin: 23px 0;

    }

    .watch_demo {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .demo_btn {
        margin-right: 24px;
    }

    .company_img img {
        padding: 24px 0;
    }

    .inner_company-name {
        padding: 60px 0;
    }

    .inner_features {
        padding: 0 15px;

    }

    .inner_jackport {
        margin-top: 50px;
    }

    .title_one h1 {
        font-size: 19px;
        line-height: 34px;
    }

    .title_two h6 {
        font-size: 9px;
        line-height: 19px;
        padding-left: 15px;
    }

    .inner_jackpot-2 {
        flex-direction: column;
        margin-top: 70px;
    }

    .jackpot_second_div {
        margin: 40px 0;
    }

    .integration_field h1 {
        font-size: 31px;
        line-height: 43px;
    }

    .integration_field p {
        max-width: 325px;
    }

    #integration {
        background-image: none;
    }

    .inner_integration {
        margin-top: 118px;
    }

    .integration_field {
        margin: auto;
    }

    .integration_field {
        padding: 0 32px;
    }

    .app_development_field {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .service-card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

    }

    .planning_field {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #planning {
        background-image: none;
        min-height: 0;
        min-width: 0;
        margin-top: 70px;
    }

    .pricing_main {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .pricing_main .card {
        margin: auto;

    }

    .pricing_main .pricing_2 {
        margin-top: 30px;

    }

    #client {
        background-image: linear-gradient(50deg, rgba(105, 250, 255, 0.315), rgba(255, 255, 255, 0.322)), url('./image/download.png');
        background-position: center;
        min-width: 390px;
    }

    .client_parent .title_field h1 {
        font-size: 30px;
        line-height: 42px;
        max-width: 380px;
    }

    .client_parent .title_field p {
        font-size: 15px;
        line-height: 24px;
        max-width: 393px;
    }

    .text_field p {
        max-width: 406px;
        font-size: 12px;
        line-height: 21px;
    }
    /* .my-app {
        flex-wrap: wrap;
        align-items: center;
        margin-right: 200px;
    } */

    .ceo_area {
        max-width: 383px;
    }

    .main_ceo img {
        width: 80px;
    }

    #download {
        background-image: linear-gradient(50deg, rgba(140, 168, 221, 0.315), rgba(255, 255, 255, 0.322)), url('./image/download.png');
        background-position: right bottom;
        min-width: 410px;
    }

    .download_title {
        margin: auto;
        margin-top: 67px;
    }

    .download_title img {
        width: 90%;
    }

    .footer_menu ul li {
        padding: 0px 6px;
    }

}